{% extends 'base.html.twig' %}

{% block title %}Gestion des enclos{% endblock %}

{% block body %}
    <h1>Gestion des enclos du zoo</h1>
        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Superficie</th>
                <th>Limites d'animaux</th>
                <th>Quarantaine</th>
            </tr>
           
        </table>
{% endblock %}
